header.header-container {
    position: fixed;
    width: 100%;
    z-index: 9998;
    top: 0;
    left: 0;
    height : 80px;
    background-color: transparent;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
.header-scrolled{
    position: fixed;
    width: 100%;
    z-index: 9998;
    top: 0;
    left: 0;
    height : 70px;
    /* background-color: transparent; */
    display: flex;
    /* padding-top: 15px; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
    background-color: #fff !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
.container {
    display: flex;
    flex-direction: row;
    /* column-gap: 400px; */



   
    align-items: center;
    column-gap: 80px;
    /* justify-content: center; */
    width : 100%;
    /* max-width: 1050px; */
    /* display: block; */
    /* justify-content: center; */
    padding-right: 25px;
    /* background-color: transparent; */
}
.nav-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    margin-left: 25px;
}
img {
    max-width: 100%;
    height: auto;
}
.nav{
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    width : 50%;
    margin-left : 8%;
    align-items: center;
    column-gap: 10px;
}
/* .nav-link{
    font-size: 22px;
} */
/* #navbarSupportedContent{
    display: flex;
    align-items: center;
}
.nav-item{
    text-decoration: none;

}
li{
    text-decoration: none;
}
.
    margin-right: 14px;
} */
.navbar{
    display: flex;
    flex-direction: row;
    /* text-decoration: none; */
    width : 50%;
margin-left: 25%;
    right : 8%;
    list-style-type: none;
    column-gap: 50px;
    align-items: center;
    /* padding-right: 50px; */
    .nav-link{
        text-decoration: none;
        color: #4a6f8a;
        font-weight: 600;
    }
}

